@* @model LoginUser *@

@* 
<form asp-controller="Home" asp-action="Login" method="POST">
  <fieldset class="border p-2">
    <legend class="w-auto">Login</legend>
  <div class="form-group">
    <label asp-for="LoginEmail"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="LoginEmail"
    ></span>
    <input asp-for="LoginEmail" class="form-control" />
  </div>

  <div class="form-group">
    <label asp-for="LoginPassword"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="LoginPassword"
    ></span>
    <input class="form-control" asp-for="LoginPassword" />
  </div>

  <button class="btn btn-success" type="submit">Login</button>
  </fieldset>
</form> *@