@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" /> @* Name input*@
            <br />
            Message...<input type="text" id="messageInput" /> @* Text input*@
            <input type="button" id="sendButton" value="Send Message" /> @* Submit button*@
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul> @* List of messages received from SignalR hub*@
        </div>
    </div>
</div>

@* References to SignalR and chat.js app code *@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>