@page
<div class="container">
    @* Name input*@
    <div class="row">
        <label for="userInput">User</label>
        <input type="text" id="userInput" />
    </div>
    @* Text input*@
    <div class="row">
        <label for="messageInput">Message</label>
        <input type="text" id="messageInput" />
    </div>
    @* Submit button*@
    <div class="row">
        <input type="button" id="sendButton" value="Send Message" /> 
    </div>

    <hr/>

    <div class="row">
        @* List of messages received from SignalR hub*@
        <ul id="messagesList"></ul> 
    </div>
</div>

@* References to SignalR and chat.js app code *@
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>