@* @model Game

@{
    Player CurrentPlayer = Model.Players[Model.PlayerTurn];
} *@


@* <h2 class="text-center">Your Turn @CurrentPlayer.Name</h2> *@

@* To display the Tresure and VP cards name along with amount of each card left*@
@* <ul>
    foreach(Card basic in CurrentPlayer.baseSet)
    <li class="text-center">basic.Title basic.TreasureValue</li>
</ul> *@

@* <ul>
    @foreach(Card card in CurrentPlayer.Hand){
        An a tag to click on to play that card
        <a class="btn btn-link" asp-area="" asp-controller="Event" asp-action="New"> <button> card.Title </button> </a>
        <li class="text-center">card.Title</li>
    }
    
</ul>  *@
@* 
<a class="btn btn-link text-center" asp-area="" asp-controller="Event" asp-action="New"> <button> End Turn </button> </a>

<a class="btn btn-link text-center" asp-area="" asp-controller="Event" asp-action="New"> <button> Start Game </button> </a>  *@


<div class="text-center">
    <img style="width: 130px"  src="~/images/DominionGold.png" alt="Gold" > <h3 class="d-inline-block mr-3">30</h3>
    <img style="width: 130px" src="~/images/DominionSilver.png" alt="Silver"> <h3 class="d-inline-block mr-3">40</h3>
    <img style="width: 130px" src="~/images/DominionCopper.png" alt="Copper"> <h3 class="d-inline-block mr-3">60</h3>
</div>

<div class="text-center">
    <img style="width: 130px" src="~/images/DominionEstate.png" alt="Estate"> <h3 class="d-inline-block mr-3">8</h3>
    <img style="width: 130px" src="~/images/DominionDuchy.png" alt="Duchy"> <h3 class="d-inline-block mr-3">8</h3>
    <img style="width: 130px" src="~/images/DominionProvince.png" alt="Province"> <h3 class="d-inline-block mr-3">8</h3>
</div>
<div class="text-center mt-4">
    <div class="border border-dark d-inline-block p-3">
        <p class="mt-0 mb-0"> CurrentPlayer.Action, CurrentPlayer.Buy, CurrentPlayer.TreasureValue</p>
    </div>
</div>


<div class="mt-2">
    <div class="d-inline-block mr-5">
        <img style="width: 130px" src="~/images/DominionBack.png" alt="Back"> 
        <h3 class="d-inline-block mr-4">10</h3>
        <img style="width: 130px" src="~/images/DominionBack.png" alt="Back"> 
        <h3 class="d-inline-block">7</h3>
    </div>

    <div class="text-center d-inline-block">
        <img style="width: 130px" src="~/images/DominionEstate.png" alt="Estate"> 
        <img style="width: 130px" src="~/images/DominionCellar.png" alt="Cellar"> 
        <img style="width: 130px" src="~/images/DominionMine.png" alt="Mine"> 
        <img style="width: 130px" src="~/images/DominionGold.png" alt="Gold"> 
        <img style="width: 130px" src="~/images/DominionMarket.png" alt="Market"> 
    </div>
</div>

<div class="text-center mt-4">
    <div class="border border-dark d-inline-block p-3">
        <p class="mt-0 mb-0"> CurrentPlayer.Name, CurrentPlayer.VP</p>
    </div>
</div>
