@model Game

@{
    Player CurrentPlayer = Model.Players[Model.PlayerTurn];
}


<h2 class="text-center">Your Turn @CurrentPlayer.Name</h2>

@* To display the Tresure and VP cards name along with amount of each card left*@
<ul>
    foreach(Card basic in CurrentPlayer.baseSet)
    <li class="text-center">basic.Title basic.TreasureValue</li>
</ul>

<ul>
    @foreach(Card card in CurrentPlayer.Hand){
        @* An a tag to click on to play that card *@
        @* <a class="btn btn-link" asp-area="" asp-controller="Event" asp-action="New"> <button> card.Title </button> </a> *@
        <li class="text-center">card.Title</li>
    }
    
</ul>

<a class="btn btn-link text-center" asp-area="" asp-controller="Event" asp-action="New"> <button> End Turn </button> </a>

<a class="btn btn-link text-center" asp-area="" asp-controller="Event" asp-action="New"> <button> Start Game </button> </a>