@model Game

@{
    ViewData["Title"] = "Game Over!";
}

<body class="bg-secondary">
    <div class="text-center">
        @{
            Player winner = Model.Players[0];
            foreach (Player player in Model.Players)
            {
                if (player.TotalVP > winner.TotalVP)
                {
                    winner = player;
                }
            }
            <h2>@winner.Name wins!</h2>
        }

        <h2>Game completed in @Model.TurnsPassed turns.</h2>

        <form asp-controller="Home" asp-action="NewGame" method="POST">
            <button class="btn btn-success">Another Game?</button>
        </form>

    </div>
</body>
