@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-secondary">
    <div class="text-center">
        <img src="~/images/DominionTitle.png" alt="Title">
        <div class="mt-3">
            <a href="/game" class="btn btn-success ">START A GAME</a>
        </div>
    </div>
</body>
