
<body class="bg-dark d-flex align-items-center justify-content-center">
    <div class="d-flex mt-2 align-items-center justify-content-center box-cover-bg">
        <div class="div-glow">
            <form asp-controller="Home" asp-action="NewGame" method="POST">
                <button class="btn start-game-btn p-3">START A GAME</button>
            </form>
        </div>
    </div>
</body>