
<body class="bg-secondary">
    <div class="container">
        <div class="text-center">
            <img src="~/images/DominionTitle.png" alt="Title">
        </div>
        
        <div class="row mt-5">
            <div class="col">
                <partial name="_Register"></partial>
            </div>
            <div class="col">
                <partial name="_Login"></partial>
            </div>
        </div>
    </div>
</body>